<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>BIBLIJA&#x26;ja</title> 
		<meta charset="utf-8" />		
		<meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff"http-equiv="Content-Type"/>
		<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.png}">
		<link rel="stylesheet" type="text/css"th:href="@{/styles/BRC2_Style.css}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	</head>
		
	<body>
		<div class="BRC2-body-container">
			<header th:replace="~{fragments/BRC2-Header :: BRC2-Header}"> 
				<!--/* HEADER FRAGMENT HERE */-->				
			</header>
			<div  th:if="${announcements}" class="announcement-wrapper">
				<div th:each="announcement : ${announcements}" th:id="${'announcement_' + announcement.id}" class="announcement-display">
				<div class="announcement-close-button-holder">
					<button class="announcement-close-button" type="button" th:id="${'announcement_close_button_' + announcement.id}" th:data-announcement-id="${announcement.id}" onclick="dismissAnnouncementButton(this)">x</button>
				</div>
					<div class="announcement-text-holder" th:utext="${announcement.announcementText}" id="main_welcome_text"></div>						
				</div>
			</div>
			<main>
				<div class="main-wrapper">
					<div class="main-banner">						
						<img class="bg-image" th:src="@{/images/login_pic.avif}">
						<div class="banner-text-wrapper">												
							<h1 class="banner-title lato-regular">Dobro došli!</h1>
							
							<div >
								<form class="log-form" th:action="@{/login}" method="post">
									<a class="log-form-text montserrat-paragraph">Korisničko ime*</a>
							        <input class="login-user-info-boxes" type="text" name="username" placeholder="Korisničko ime" required>
							        <a class="log-form-text montserrat-paragraph">Upišite lozinku*</a>
							        <input class="login-user-info-boxes" type="password" name="password" placeholder="Lozinka" required>
							        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
									<div class="log-button-wrapper">							
										<a href="/private/myHomepage"><button class="montserrat-button log-button"><span class="button-bible-read-span">Prijava</span></button></a>
									</div>
								</form>
							</div>
						</div>				
					</div>													
				</div>
			</main>
			
			<footer> <!--/* FOOTER FRAGMENT HERE */-->
				<div th:replace="~{fragments/BRC2-Footer}" class="copyright-logo-wrapper">
					
				</div>
			</footer>
		</div>				
	</body>
</html>