<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Administration</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">	
		<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff" http-equiv="Content-Type" />
		<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.png}">	
		<link rel="stylesheet" type="text/css" th:href="@{/styles/control_panel.css}"/>	
		<script th:src="@{/scripts/javascript.js}"></script>
		<script th:src="@{/scripts/control_center_script.js}"></script>
		<script th:src="@{/scripts/quill_init_script.js}"></script>
		<!--/*######################################################### Google Fonts #########################################################*/-->	
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Ubuntu:wght@300;400&display=swap" rel="stylesheet">
		<!--/*################################################################################################################################################*/-->
		
		<!-- Quill styles -->
		<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
		<!-- Quill JS -->
		<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
		
	</head>
	<body>	
		<div class="main-wrapper">
		
			<div th:replace="~{fragments/BRC-CC-Menu :: BRC-CC-Menu}">>
				<!--/* BRC CC menu here /fragments/BRC-CC-Menu.html */-->
			</div>
			
			<div class="statistics-overview">
				<div class="users-overview">						
						<a class="statistics-label">Korisnika registrirano:</a>
						<a class="statistics-number" th:text="${allProfilesInADatabase}"></a>										
				</div>				
				<div class="comments-overview">
					<a class="statistics-label">Komentara napisano:</a>
					<a class="statistics-number" th:text="${numberOfWrittenCommentsInTheDatabase}"></a>
				</div>
			</div>
			<!--/*================================== Database Controls ==================================*/-->
			<div class="controls-main-title">
				<a>Baza podataka:</a>
			</div>
			<div class="database-controls">
				<div class="database-upload">
					<form th:action="@{/admin/restoreDatabase}" method="post" enctype="multipart/form-data">
						<label for="fileInput">Odaberi .zip file za restore baze</label>
						<input type="file" id="fileInput" name="fileInput" accept=".zip">			
						<button type="submit">Upload</button>
					</form>	
				</div>
				<div class="database-download">				
					<form th:action="@{/admin/backupDatabase}" method="get" enctype="multipart/form-data">	
						<button type="submit">Preuzmi bazu podataka</button>
					</form>						
				</div>			
			</div>
			<!--/*================================== Bible Controls ==================================*/-->
			<div class="bible-controls">
				<form th:action="@{/admin/uploadBible}" method="post" enctype="multipart/form-data">
					<label for="fileInput">Odaberi .xlsx file za upload Biblije</label>
					<input type="file" id="fileInput" name="fileInput" accept=".xlsx, .ods, .pdf">			
					<button type="submit">Upload</button>
				</form>	
			</div>
			<!--/*================================== Commentary Controls ==================================*/-->
			<div class="commentary-controls">
				<div class="commentary-upload">
					<form th:action="@{/admin/uploadComments}" method="post" enctype="multipart/form-data">
						<label for="fileInput">Odaberi .xlsx file za upload komentara</label>
						<input type="file" id="fileInput" name="fileInput" accept=".xlsx, .ods, .pdf">			
						<button type="submit">Upload</button>
					</form>		
				</div>	
				<div class="commentary-download">
					<form th:action="@{/admin/downloadComments}" method="get" enctype="multipart/form-data">	
						<button type="submit">Preuzmi komentare</button>
					</form>	
				</div>			
			</div>
			<div class="announcement-control-wrapper">
				<div class="separator">
					<h2>Announcement control panel</h2>
				</div>
				<table class="data-display-table">
					<tbody>
						<tr>
							<th>#</th>
							<th>Announcement ID:</th>
							<th>Announcement text:</th>
							<th colspan="3">Panel</th>
						</tr>
						<tr th:each="announcement, iterstat : ${listOfAllAnnouncements}">
							<td th:text="${iterstat.count}"></td>
							<td th:text="${announcement.id}"></td>
							<td th:text="${announcement.announcementText}"></td>
							<td th:text="${'Active: ' + announcement.announcementIsActive}"></td>
							<td>
								<div>
									<form  th:id="'deleteAnnouncement_' + ${announcement.id}" method="post" th:action="@{/admin/AnnouncementMessage/delete}"> 
										<input id="hiddenInput" type="hidden" name="announcementId" th:value="${announcement.id}">
										<input id="deleteAnnouncementButton" type="button" value="Delete" th:data-announcement-id="${announcement.id}" onclick="deleteAnnouncement(this)"/> 
									</form>							
								</div> 
							</td>
							<td>
								<div>
									<div th:if="${errorMessage}" th:utext="${errorMessage}">
										
									</div>
									<form th:id="'changeAnnouncementActiveStatus_' + ${announcement.id}" method="post" th:action="@{/admin/AnnouncementMessage/flipStatus}">
										<input type="hidden" name="announcementId" th:value="${announcement.id}" />
										<input id="flipAnnouncementStatusButton" type="button" value="Change Status" th:data-announcement-id="${announcement.id}" onclick="flipAnnouncementStatus(this)" />
									</form>																
								</div>
							</td>
						</tr>
					</tbody>									
				</table>
				<div class="separator">
					<h2>Create new announcement</h2>
				</div>
				<div th:if="${successMessage}" th:utext="${successMessage}">
				
				</div>
				<div class="announcement-form-wrapper">
					<form th:object="${newAnnouncementMessage}" method="post" th:action="@{/admin/announcementMessage/add}">
						<input type="hidden" name="commentContent" id="commentContent" th:field="*{announcementText}" />
						<div id="quillEditor" style="height: 200px;"></div>
						<button type="submit" value="Save" onclick="saveDataFromQuill()">Save</button>
						<input type="checkbox" th:field="*{announcementIsActive}"/>
					</form>				
				</div>																	
			</div>					
		</div>
	</body>
</html>