<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>Administration</title>
	</head>
	<body>
		
		<form th:action="@{/admin/uploadBible}" method="post" enctype="multipart/form-data">
			<label for="fileInput">Odaberi .xlsx file za upload Biblije</label>
			<input type="file" id="fileInput" name="fileInput" accept=".xlsx, .ods, .pdf">			
			<button type="submit">Upload</button>
		</form>
		
		<form th:action="@{/admin/uploadComments}" method="post" enctype="multipart/form-data">
			<label for="fileInput">Odaberi .xlsx file za upload komentara</label>
			<input type="file" id="fileInput" name="fileInput" accept=".xlsx, .ods, .pdf">			
			<button type="submit">Upload</button>
		</form>
		
		
	</body>
</html>