<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script th:src="@{/scripts/javascript.js}"></script>
	</head>
	<body>

		<div>
		
			<h1>Svi moji komentari na jednom mjestu</h1>
		
		</div>
		
		<div>
			<a href="/logout?redirect=/">Odjava</a> </br> <a href="/?redirect=/">Nazad na početnu stranicu</a> 
			</br> 
			<a href="/submitComment?redirect=/">Napiši komentar</a>
		</div>
		<div>
			<h2>Komentari</h2>
			<table id="comment_table">
				<thead>
					<tr>
						<th>Datum pisanja</th>
						<th>Komentar</th>
						<th>Knjiga</th>
						<th>Poglavlje</th>
						<th>Izmjene</th>
					</tr>
				 </thead>
				 <tbody th:each="comment : ${comments}" th:attr="id=${comment.id}">
				 	<tr>
				 		<th colspan="4" th:text="${comment.subject}"></th>
				 	</tr>
					<tr >						
						<td th:text="${comment.timestamp}"></td>
						<td th:text="${comment.text}"></td>						
						<td th:text="${comment.chapter.book.name}"></td>
						<td th:text="${comment.chapter.number}"></td>
						<td><input type="radio" th:attr="id=${comment.id}, name=${'commentSelect'}"></td>
					</tr>
				</tbody>	
			</table>	
		</div>
		<div>
			<button type="submit" id="comment_edit" onclick="commentEdit()">Promjeni komentar</button>
			<button type="submit" id="comment_delete" onclick="commentDelete()">Izbriši komentar</button>
			<label id="selectedCommentId"></label>
		</div>
		
		<div style="visibility: hidden;" id="hidden_div_comment_edit">
			<textarea type="text" id="commentEditingArea"></textarea>
			<button type="submit">Pohrani komentar</button>
		</div>
		
		
	
	</body>
</html>