<!--/* mycomments.html
*	My comments is a View where user can view, edit and delete their comments, also they are able to make them publicly visible 
*	or private after their creation.
*
*	Author: Sven Gotal
*	Date of Creation: 2024
*	Date of last update: 18.04.2025
*	Dependency: Thymeleaf, myComments.css, mainStyle.css
*/-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>BIBLIJA&ja</title>
	<meta charset="UTF-8">
	<meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=yes">
	<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.png}">
	<script th:src="@{/scripts/userspace.js}"></script>
	<script th:src="@{/scripts/scrollbutton.js}"></script>
	<script th:src="@{/scripts/javascript.js}"></script>
	<script th:src="@{/scripts/quill_init_script.js}"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" th:href="@{/styles/mainStyle.css}"/>
	<link rel="stylesheet" type="text/css"th:href="@{/styles/myComments.css}"/>

	<!--/*######################################################### Google Fonts #########################################################*/-->
	<link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
	<!--/*################################################################################################################################################*/-->	
	
	<!-- Quill styles -->
	<link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">
	<!-- Quill JS -->
	<script src="https://cdn.quilljs.com/1.3.6/quill.min.js"></script>
</head>
<body>
	<button onclick="goToTop()" id="topBtn" title="Go to top">&uarr;</button>
	<div id="toast_message" class="toast-message toast-message-show"></div>
	<div class="main-wrapper">
		<!--/*======================================================= Header =======================================================*/-->
		<div class="header-area">
			<div class="header-row">		
				<div th:replace="~{fragments/BRC-Logo :: BRC-Logo}">
						<!--/* BRC logo here /fragments/BRC-Logo.html */-->
				</div>				
				<div class="header-row-dashboard">
					<div th:replace="~{fragments/BRC-User-Icon}">
						<!--/* User icon and username here /fragments/BRC-User-Icon.html */-->
					</div>
				
					<div th:replace="~{fragments/BRC-Hamburger-Options :: BRC-Hamburger-Options}">
						<!--/*======================================================= Hamburger menu =======================================================*/-->
					</div>
				</div>
			</div>
		</div>
		<!--/*======================================================= /Header =======================================================*/-->
		<!--/*======================================================= Comments Not Found Area =======================================================*/-->
		<div th:if="${noCommentsFound != null OR message != null}" class="comments-area myComments-no-comments-found">
			<div>
				<h1 th:text="${message}"></h1>
				<h1 th:text="${noCommentsFound}"></h1>
				<div class="comment-edit-options">
					<div class="options-list">
						<span> 
							<a href="/private/submitComment">Napiši komentar</a>
							<a th:if="${message}" href="/private/myComments">Natrag na moji komentari</a>
						</span>
					</div>
				</div>
			</div>
		</div>
		<!--/*======================================================= Comments Found Area =======================================================*/-->
		<div th:unless="${noCommentsFound != null OR message != null}">
			<div class="comments-area">
				<table class="myComments-comments-table" id="comment_table">
					<tbody th:each="comment : ${comments}" th:attr="id=${comment.id}">
						<tr class="myComments-subject-row">
							<td th:id="${'timestamp_' + comment.id}" class="word-break" th:text="${comment.timestamp}"></td>
							<td class="word-break" colspan="5"><label th:id="${'subject_' + comment.id}" th:text="${comment.subject}"></label></td>							
							<td th:id="${'book_chapter_' + comment.id}" class="word-break" th:text="${comment.chapter.book.name + ' ' + comment.chapter.number}"></td>
							<td th:id="${'published_' + comment.id}" th:data-is-published="${comment.published}" th:if="${comment.published}" class="myComments-is-published word-break">Public</td>
							<td th:id="${'published_' + comment.id}" th:data-is-published="${comment.published}" th:unless="${comment.published}" class="myComments-not-published word-break">Private</td>
							<td class="myComments-td-10percent word-break">
								<button class="myComments-expand-comment-button"  th:data-comment-id="${comment.id}" onclick="showHideComment(this)">+</button>
								<button class="myComments-expand-comment-button"  th:data-comment-id="${comment.id}" onclick="shareThisComment(this)">↗</button>
								<button class="myComments-expand-comment-button"  th:data-comment-id="${comment.id}" onclick="modifyThisComment(this)">&#x1F527;</button>
							</td>
						</tr>
						<tr class="myComments-comment-row word-break" id="myComments_comment_row">
							<td colspan="9">
								<div th:id="${'text_' + comment.id}" th:utext="${comment.text}"></div>
							</td>												
						</tr>
					</tbody>
				</table>
			</div>
			<!--/*======================================================= Comments Editing Area =======================================================*/-->
			<div  id="commentEditingDiv" style="display: none;" class="comment-edit-div">
				<div>
					<form method="post" id="formEdit" th:action="@{/private/myCommentsEdit}" th:object="${comment}">
						<div class="comment-subject-and-published-wrapper">
							<table class="myComments-comments-table">
								<tbody class="myComments-subject-row">
									<tr>
										<td><label>Naslov: </label></td>
										<td><input th:field="*{subject}" type="text" class="comment-edit-subject-grid" id="comment_subject_content"/></td>
										<td><label>Javni komentar: </label></td>
										<td><input th:field="*{published}" type="checkbox" id="comment_published_content"/></td>
									</tr>
								</tbody>
							</table>
						</div>
						<div class="quill-editor-wrapper">
							<!-- Hidden input to store the actual HTML to submit -->
							<input type="hidden" name="commentContent" id="commentContent" th:field="*{text}" />
							<input type="hidden" id="comment_id_holder" th:field="*{id}"/>
							<!-- Container for the Quill editor -->
							<div id="quillEditor" style="height: auto;"></div>
						</div>
						<div class="comment-edit-buttons-wrapper">
							<table class="myComments-comments-table">
								<tbody class="myComments-subject-row">
									<tr>
										<td><button type="submit">Delete</button></td>
										<td><button type="submit" onclick="submitEditedComment()">Save</button></td>
									</tr>
								</tbody>
							</table>
						</div>
					</form>
					
				</div>
			</div>			
		</div>
		<!--/*======================================================= /Comments Area =======================================================*/-->
	</div>
	<!--/*======================================================= /Footer Area =======================================================*/-->
	<div th:replace="~{fragments/BRC-Footer :: BRC-Footer}">
		<!--/* Footer fragment */-->
	</div>
</body>
</html>