<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Submit Form</title>
	<link rel="icon" type="image/x-icon" href="/static/images/BRC_favicon.ico">
</head>
<body>
	
	<h1>Welcome to submit form</h1>	
	
	<form method="post" th:action="submitForm" th:object="${user}">
		<label>Username: <input type="text" th:field="*{username}" /></label><br/>
		<label>Email: <input type="text" th:field="*{email}" /></label><br/>
		<label>Password: <input type="text" th:field="*{password}" /></label><br/>		
		<button type="submit">Submit</button>
	</form>

</body>
</html>

<!-- <label>e-Mail: <input type="text" /></label><br/>   th:field="*{username}"  -->
		<!-- <label>Password: <input type="text" /></label><br/> -->
