<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Submit Form</title>
	<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.webp}">
	<script th:src="@{/scripts/javascript.js}" ></script>
</head>
<body>
	
	<h1>Submit form</h1>	
	
	<form method="post" id="user_creation_form" th:action="submitForm" th:object="${user}">
		<label>Username: <input type="text" th:field="*{username}" required/></label><br/>
		<label>Email: <input type="email" th:field="*{email}" /></label><br/>
		<label>Password: <input type="password" name="password" id="password" th:field="*{password}" required/></label><br/>
		<label>Retype password: <input type="password" name="password_retype" id="password_retype" /> </label>
		<div th:switch="${adminRole}">
			<label th:case="ADMIN">Role: <input type="text" th:field="*{role}" ></label>
			<label th:case="GUEST">Dobrodošao posjetitelju! Prijavi se i postani dio našeg projekta.</label>		
		</div>
		<div>
			<span id="error_display"></span>
		</div>
		<button type="submit" onclick="passwordValidation()">Submit</button>
	</form>
	<a href="/?redirect=/">Nazad na početnu stranicu</a>
</body>
</html>

<!-- <label>e-Mail: <input type="text" /></label><br/>   th:field="*{username}"  -->
		<!-- <label>Password: <input type="text" /></label><br/> -->
