<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Submit Form</title>
	<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.webp}">
	<script th:src="@{/path/to/ajax_script.js}"></script>
</head>
<body>
	
	<h1>Submit form</h1>	
	
	<form method="post" th:action="@{/submitComment}" onsubmit="return validateForm()">
    <!-- Existing code... -->

    <select id="bookSelection" name="selectedBook" onchange="updateChapters()">
        <option selected disabled th:placeholder="'Odaberite knjigu'">Odaberite knjigu</option>
        <option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}"></option>
    </select>

    <select id="chapterSelection" name="selectedChapter" disabled>
        <option selected disabled th:placeholder="'Odaberite poglavlje'">Odaberite poglavlje</option>
        <!-- Options will be dynamically populated using JavaScript -->
    </select>
	</form>
	
	
	<form method="post" th:action="submitComment" th:object="${comment}">
		<label>Subject: <input type="text" th:field="*{subject}" /></label><br/>	
		<label>Username: <textarea type="text" th:field="*{text}" /></label><br/>		
		<button type="submit">Submit</button>
	</form>

</body>
</html>

<!-- <option th:each="chapter : ${book.chapters}" th:value="${chapter.number}" th:text="${chapter.number}"></option> -->
