<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css"
	th:href="@{/styles/BRC2_Style.css}"/>
</head>
<body>
	<header th:fragment="BRC2-Header">
		<div class="BRC2-header-container">
			<div class="BRC2-logo-wrapper">
				<img th:src="@{/images/Bibilijaija logo-2.avif}">
			</div>

			<div class="BRC2-options-wrapper">
				<div th:replace="~{fragments/BRC2-Hamburger :: BRC2-Hamburger}"  class="BRC2-hamburger-wrapper">
					<!--/* HAMBURGER FRAGMENT HERE */-->
				</div>
			</div>
		</div>
	</header>
</body>
</html>