<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>BIBLIJA&ja</title> 
		<meta charset="utf-8" />		
		<meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff"http-equiv="Content-Type"/>
		<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.png}">
		<link rel="stylesheet" type="text/css"th:href="@{/styles/BRC2_Style.css}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	</head>
		
	<body>
	
		<img th:src="@{/images/Bibilijaija logo-2.avif}" alt="logo2">
		<img class="index-logo" th:src="@{/images/Bibilijaija-logo.png}" onclick="redirectToIndex()">
	
		<h1 class="montserrat-title">ttttTitle font test Montserrat 400 bold</h1>
		<h1 class="lato-bold">lato bold SASTANAK BIBLIJA KONTAKT đ Đ č Č ć Ć</h1>
		<h1 class="montserrat-title">montserrat-title SASTANAK BIBLIJA KONTAKT đ Đ č Č ć Ć</h1>
		
		<p class="montserrat-paragraph">Pregled fonta na paragrafu Montserrat 400 normal</p>
	</body>
</html>