<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Index</title>
	<script th:src="@{/scripts/ajax_script.js}"></script>
</head>
<body>
	
	<h1>Welcome to the index page</h1>
	<p th:text="${binding}"></p>
	</br>
	
	<div name="bible_display">
	
		<form method="post" th:action="@{/fetchChapters}">
			<select id="bookSelection" name="selectedBook" onchange="updateIndexChapters()">
				<option selected disabled th:placeholder="'Odaberite knjigu'">Odaberite knjigu</option>
				<option th:each="book : ${books}" th:value="${book.id}" th:text="${book.name}"></option>
			</select>
	
			<select id="chapterSelection" name="selectedChapter" disabled>
				<option selected disabled th:placeholder="'Odaberite poglavlje'">Odaberite poglavlje</option>		
			</select>	
		</form>
	
	
	</div>
	
	<div th:if="${userValidated}">
		<span th:switch="${userRole}">
		<!--  
		ADD MORE OPTIONS FOR ADMIN AND OWNER LATER IN THE PROJECT
		USER SHOULD ONLY SEE ADD COMMENT FOR NOW, AND USER PAGE FOR LATER 
		-->
			<span th:case="USER">
				<a href="/submitComment?redirect=/">Write comment</a>
			</span>
			<span th:case="ADMIN">
				<a href="/submitForm?redirect=/">Create profile</a>
				<a href="/submitComment?redirect=/">Write comment</a>
			</span>
			<span th:case="OWNER">
				<a href="/submitForm?redirect=/">Create profile</a>
				<a href="/submitComment?redirect=/">Write comment</a>			
			</span>
						
		</span>
	</div>
	<div th:unless="${userValidated}">
		<a href="/submitForm?redirect=/">Create profile</a>	
		<a href="/login?redirect=/">Login</a>
	</div>
	
	
	<table>
		<tr>
			<th>Comments</th>
		</tr>	
		<tr th:each="comment : ${comments}">
			<td >
				<p th:text="${comment.subject}"></p>
				<p th:utext="${comment.text + '<br/><br/>Komentator: ' + comment.user.username + ' - ' + comment.timestamp}"></p>
			</td>
		</tr>
	</table>
	
</body>
</html>


