<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>BIBLIJA&ja</title> 
		<meta charset="utf-8" />		
		<meta name="viewport"content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<meta content="text/html; charset=UTF-8; X-Content-Type-Options=nosniff"http-equiv="Content-Type"/>
		<link rel="icon" type="image/x-icon" th:href="@{/images/logoico.png}">
		<link rel="stylesheet" type="text/css"th:href="@{/styles/BRC2_Style.css}"/>
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		
		<script th:src="@{/scripts/BRC_script.js}"></script>
		<link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400;1,700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">

	</head>
		
	<body>
		<div class="BRC2-body-container">
			<header th:replace="~{fragments/BRC2-Header :: BRC2-Header}"> 
				<!--/* HEADER FRAGMENT HERE */-->				
			</header>
			
			<main>
				<div class="main-wrapper">
					<div class="main-bg-image-wrapper">
						<img class="main-bg-image" th:src="@{/images/homepage_bg.avif}">
					</div>
					<div class="main-bg-image-text-container">
						<div class="main-quotation-wrapper">
							<div class="main-quote-text-wrapper">
								<p class="quotation-text montserrat-paragraph">Sve Pismo, bogoduho, korisno je za poučavanje, uvjeravanje, popravljanje, 
								odgajanje u pravednosti, da čovjek Božji bude vrstan, za svako dobro djelo podoban.</p>
							</div>
							<div class="main-quote-reference-wrapper">
								<p class="quotation-reference montserrat-paragraph-bold">2. TIMOTEJU 3:16</p>
							</div>
						</div>
					</div>
					<div class="main-bible-read-button-wrapper">
						<button class="BRC2-buttons montserrat-paragraph">Čitaj Bibliju</button>
					
					</div>
					<div class="main-boxes-wrapper">
						<div class="main-box-meet">
					
						</div>
						<div class="main-box-about">
						
						</div>
						<div class="main-box-suggestion">
						
						</div>
						<div class="main-box-bible-about">
						
						</div>
					</div>
				
				</div>
			
			
			</main>
			
			<footer> <!--/* FOOTER FRAGMENT HERE */-->
			
			
			</footer>									
		</div>				
	</body>
</html>