@charset "UTF-8";

/*
	FONT highlight ON WHITE COLOR: #6A63AB
	FONT ON COLOR COLOR: white

	main-yellow-color: #F1CD69
	main-green-color: #7BBE6E
	main-blue-color: #918AD8
	main-violet-color: #CA4B97
	main-red-color: #C62D23


*/


body{
	padding: 0;
	margin: 0;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.montserrat-title {
 	font-family: "Montserrat", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 600;
 	font-style: bold;
}

.montserrat-button{
	font-family: "Montserrat", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 500;
 	font-style: bold;
}

.montserrat-paragraph{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;	
}

.montserrat-light{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 300;
  	font-style: normal;
}

.montserrat-paragraph-bold{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 800;

}
 
.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.BRC2-header-container{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	z-index: 10;
	min-height: 90px;
}

.BRC2-logo-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BRC2-options-wrapper{
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BRC-User-Icon{
	max-width: 30px;
	height: 50px;
}

.BRC-close-button{
	max-width: 35px;
	background: white;
	border-radius: 50%;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.BRC-close-button:hover{
	cursor: pointer;
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}

.BRC-hamburger-wrapper{
	max-width: 50px;
	max-height: 50px;
	padding: 0;
}

.hamburger-menu{
	background-color: rgba(108, 100, 174, 0.8); /*#918AD8;*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 0px;
	list-style: none;
	width: 20%;
	max-width: 20%;
	table-layout: fixed;
	overflow: hidden;
	transition: height .4s ease;
	z-index: 10;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	right: 78%;
	margin-top: 32px;
	padding-left: 2%;
}

.hamburger {
	height: 45px;
	display: -ms-grid;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	z-index: 3;
}

.hamburger div {
	background-color: rgb(108, 100, 174);
	position: relative;
	width: 40px;
	height: 5px;
	margin-top: 7px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
	border-radius: 10px;
}

#hamburger_toggle{
	display: none;
}

#hamburger_toggle:checked+.hamburger .hamburger-top {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 22.5px;
}

#hamburger_toggle:checked+.hamburger .hamburger-middle {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -5px;
}

#hamburger_toggle:checked+.hamburger .hamburger-bottom {
	-webkit-transform: scale(0);
	transform: scale(0);
}

#hamburger_toggle:checked ~ .hamburger-menu {
	max-height: 65%;
	height: 420px;
	width: 100%;
	padding-bottom: 15px;
}

#hamburger_toggle:checked .main-bg-image-wrapper{
	background-color: #918AD8;
	z-index: 10;
}


.hamburger-menu ul{
	display: table-row;
}

.hamburger-menu ul li{
	list-style-type: none;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
}

.hamburger-menu a{
	text-decoration: none;
	flex-grow: 1;
	font-family: "Lato", sans-serif;
 	font-weight: 400;
 	font-style: normal;
 	font-size: 30px;
}

.hamburger-option-homepage{
	color: #7BBE6E;
}

.hamburger-option-option{
	color: white;
}

.hamburger-option-logout{
	color: #CA4B97;
}

.hamburger-option-login{
	color: #F1CD69;
}

.user-icon-username-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 3%;
	max-width: 9%;
}

.user-icon{	
	width: 30px;
	height: 30px;	
	max-width: 30px;
	max-height: 30px;
	-webkit-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}



.user-icon-username{
	display: block;
}

.user-icon-username-wrapper:hover .user-icon{
	
	width: 40px;
	height: 40px;
	max-width: 45px;
	max-height: 45px;
}

.user-icon-username-wrapper:hover{
	border-radius: 50%;

}

.user-icon-username-wrapper:hover .user-icon-username{
	color: transparent;
	height: 0px;
}


.main-wrapper{
	padding: 0;
	margin: 0;

}


.main-bg-image{
	z-index: -10;
	display: block;
	position: absolute;
	margin-top: -150px;
}

.main-bg-image-text-container{
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	z-index: 1;
	color: white;
	padding-top: 4%;
}

.main-quotation-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.quotation-text{
	font-size: 125%;
	
}

.quotation-reference{
	letter-spacing: 0.2em;
	font-size: 80%;
}

.main-box-title{
	letter-spacing: 0.3em;
	font-size: 115%;
}

.main-quote-text-wrapper{
	max-width: 40%;
	width: 40%;
}

.word-break{
	word-break: break-word;
  	overflow-wrap: break-word;
}

.BRC2-closebutton-wrapper{
	display: flex;
	flex-direction: column;
	
	max-width: 40px;
	max-height: 40px;
	
	width: 40px;
	height: 40px;
	
	align-items: center;
	justify-content: center;
	
	box-sizing: border-box;
  	padding: 0;     
  	

}

.BRC2-closebutton-wrapper div{
	background-color: white;
	/* X FORM */
	/*width: 30px;*/
	height: 2px;

	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.close-button-hide{
	display: none;
	width: 100%;
	height: 100%;
}

.closeButton-top{
	transform: translate(0%, 0%) rotate(-45deg);
	/* CROSS FORM */
	width: 16px;
	margin-right: 5px;
	/* ========== */
}

.BRC2-buttons{
	background-color: white;
	color: #404040;
	padding: 13px 25px 13px 25px;
	border: none;
	border-radius: 20px;
	max-width: 130px;
}

.BRC2-buttons.denied{
	color: transparent;
	background-color: grey;
}

.BRC2-buttons:hover{
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	background-color: rgba(255, 255, 255, 0.8);
}

#button_meet:hover{
	color: #F1CD69;
}

#button_about:hover{
	color: #7BBE6E;
}

#button_suggestion:hover{
	color: #918AD8;
}

#button_bible_about:hover{
	color: #CA4B97;
}

.closeButton-bottom{
	 transform: translate(0%, 0%) rotate(45deg);
	 /* CROSS FORM */
	 width: 35px;
	 /* ========== */
}

#BRC2_closebutton_wrapper:hover .closeButton-top{
	transform: translate(0%, 0%) rotate(135deg);
	background-color: #918AD8;
}

#BRC2_closebutton_wrapper:hover .closeButton-bottom{
	transform: translate(0%, 0%) rotate(225deg);
	background-color: #918AD8;
}

#BRC2_closebutton_wrapper:hover{
	background-color: white;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.main-bible-read-button-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	
}

.bible-read-button{
	max-width: 10%;
	max-height: 50px;
	margin-top: 2%;
	margin-bottom: 3%;
	text-align: center;
}

.bible-read-button:hover .button-bible-read-span{
	background-image: linear-gradient(
    90deg,
    #F1CD69, /* main-yellow-color */
    #7BBE6E, /* main-green-color */
    #918AD8, /* main-blue-color */
    #CA4B97  /* main-violet-color */
  );
  -webkit-background-clip: text; /* needed for WebKit (Chrome, Safari) */
  background-clip: text;
  color: transparent; 

}

.main-boxes-wrapper{
	display: flex;
	flex-direction: row;
}

.main-boxes-wrapper div{
	width: 25vw;
	aspect-ratio: 1 / 0.8;

}

.main-box-meet{
	padding-top: 30px;
	background-color: #F1CD69;
}

.main-box-about{
	padding-top: 30px;
	background-color: #7BBE6E;
}

.main-box-suggestion{
	padding-top: 30px;
	background-color: #918AD8;
}

.main-box-bible-about{
	padding-top: 30px;
	background-color: #CA4B97;
}

.main-box-image-wrapper{
	display: flex;
	flex-direction: center;
	align-items: center;
	justify-content: center;
	width: 25vw;
	max-height: 30%;
}

.main-box-image-wrapper img{
	max-width: 60%;
	max-height: 60%;
}

.main-box-rollout-wrapper{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	text-align: center;
	max-height: 45%;
	color: white;
	padding-bottom: 10px;
}

.main-box-button-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 25vw;
	height: 10%;
	padding-bottom: 9%;
}

.main-box-paragraph{
	max-width: 50%;
}

.main-userfeedback-input-wrapper{
	overflow: hidden;
	max-height: 0px;
	background-color: #918AD8;
	width: 25vw;
	margin-left: 50vw;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-radius: 0px 0px 40px 40px;
}

.main-userfeedback-input-wrapper.open{
	max-height: 550px;		
}

.main-userfeedback-input-wrapper.annex{
	border-radius: 0px;
}

.user-feedback-form{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: left;
	padding: 10px;
}

.feedback-textbox{
	width: 90%;
	height: 150px;
	max-width: 90%;
	margin: 10px;
	resize: none;
	border-radius: 20px;
	padding: 10px;
	border-style: none;
}

.feedback-userinfo{
	padding: 5px;
	border-radius: 5px;
	border-style: none;
}

.feedback-checkbox-wrapper{
	display: flex;
	flex-direction: row;
	padding: 20px;
	color: white;
}

.feedback-buttons-wrapper{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.feedback-message-box{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 10px;
	overflow: hidden;
	max-height: 0px;
	background-color: #918AD8;
	width: 25vw;
	margin-left: 50vw;
	-webkit-transition: all 0.5s ease-in-out;
	transition: all 0.5s ease-in-out;
	border-radius: 0 0 40px 40px;
}

.feedback-message-box.open{
	max-height: 150px;
	color: white;
}

/*
main-yellow-color: #F1CD69
	main-green-color: #7BBE6E
	main-blue-color: #918AD8
	main-violet-color: #CA4B97
*/

.main-information-wrapper{
	padding-top: 3%;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.info-contact-wrapper{
	display: flex;
	justify-content: center;
	flex-direction: row;
	max-width: 60%;
}

.info-box{
	align-items: center;
	text-align: center;
	width: 33vw;
}

.info-box-title{
	font-size: 160%;
	color: #6A63AB;
}

.contact-link{
	text-decoration: none;
	color: black;
}

.info-small-lettering{
	font-weight: italic;
	font-size: 65%;
}

.main-impressions-gallery{
	margin-top: 30px;
	margin-bottom: 30px;
	background-color: #6A63AB;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	text-align: center;
	height: 260px;
	max-height: 260px;
}

.gallery-left-arrow-wrapper{
	width: 10%;
	max-width: 10%;
	color: white;
	font-size: 550%;
}

.gallery-main-window-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	width: 80%;
	max-width: 80%;
	color: white;
}

.icon-arrow{
	height: 50px;
	width: 50px;
}

.icon-arrow:hover{
	opacity: 0.7;
	cursor: pointer;
}

.gallery-right-arrow-wrapper{
	width: 10%;
	max-width: 10%;
}

.impressions-gallery-separator-line{
	background-color: white;
	width: 3%;
	height: 1px;
}

footer{
	padding-top: 25px;
	padding-bottom: 35px;
	
}

.copyright-logo-wrapper{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.announcement-wrapper{
	display: block;
  	justify-content: center;
 	align-items: center;  
	color: black;
	float: center;
	margin: 0px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.announcement-display{	
	display: none;
	background-color: #f5c211;
	width:100%;
	border-radius: 15px;
}

.announcement-text-holder{
	padding: 10px;
	margin-top: 10px;
	padding-bottom: 30px;
}

.announcement-close-button-holder{
	text-align: right;
	padding-bottom: 0px;
	margin-bottom: -20px;
}

.announcement-close-button{
	border: 1px solid grey;
	border-radius: 50%;
	width: 23px;
	height: 23px;
	max-width: 23px;
	max-height: 23px;
}




















