@charset "UTF-8";

/*
	FONT highlight ON WHITE COLOR: #6A63AB
	FONT ON COLOR COLOR: white

	main-yellow-color: #F1CD69
	main-green-color: #7BBE6E
	main-blue-color: #918AD8
	main-violet-color: #CA4B97
	main-red-color: #C62D23


*/

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.montserrat-title {
 	font-family: "Montserrat", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 400;
 	font-style: bold;
}

.montserrat-paragraph{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	
}
 
.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.BRC2-header-container{
	display: flex;
	flex-direction: row;
}

.BRC2-logo-wrapper{
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BRC2-options-wrapper{
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.hamburger-menu{
	background-color: white;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 0px;
	list-style: none;
	background: rgba(0,0,0,0.0);
	table-layout: fixed;
	overflow: hidden;
	transition: height .4s ease;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	right: 9%;
}

.hamburger {
	height: 45px;
	margin: 10px;
	display: -ms-grid;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	z-index: 120;
}

.hamburger div {
	background-color: rgb(61, 61, 61);
	position: relative;
	width: 40px;
	height: 5px;
	margin-top: 7px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

#hamburger_toggle{
	display: none;
}

#hamburger_toggle:checked+.hamburger .hamburger-top {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 22.5px;
}

#hamburger_toggle:checked+.hamburger .hamburger-middle {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -5px;
}

#hamburger_toggle:checked+.hamburger .hamburger-bottom {
	-webkit-transform: scale(0);
	transform: scale(0);
}

#hamburger_toggle:checked ~ .hamburger-menu {
	height: 340px;
}

.hamburger-menu {
	background-color: white;
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 0px;
	list-style: none;
	background: rgba(0,0,0,0.0);
	table-layout: fixed;
	overflow: hidden;
	transition: height .4s ease;
	z-index: 1;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	right: 9%;
}

.hamburger-menu ul{
	display: table-row;
}

.hamburger-menu ul li{
	
	text-align: center;
	margin-left: 5px;
	margin-right: 5px;
}

.hamburger-menu a{
	flex-grow: 1;
}









