@charset "UTF-8";

/*
	FONT highlight ON WHITE COLOR: #6A63AB
	FONT ON COLOR COLOR: white

	main-yellow-color: #F1CD69
	main-green-color: #7BBE6E
	main-blue-color: #918AD8
	main-violet-color: #CA4B97
	main-red-color: #C62D23


*/

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.montserrat-title {
 	font-family: "Montserrat", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 400;
 	font-style: bold;
}

.montserrat-paragraph{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	
}
 
.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
