@charset "UTF-8";

/*
	FONT highlight ON WHITE COLOR: #6A63AB
	FONT ON COLOR COLOR: white

	main-yellow-color: #F1CD69
	main-green-color: #7BBE6E
	main-blue-color: #918AD8
	main-violet-color: #CA4B97
	main-red-color: #C62D23


*/


body{
	padding: 0;
	margin: 0;
}

.lato-light {
  font-family: "Lato", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.lato-regular {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.lato-bold {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.lato-black {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-style: normal;
}

.lato-regular-italic {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: italic;
}

.lato-bold-italic {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-style: italic;
}


.montserrat-title {
 	font-family: "Montserrat", sans-serif;
 	font-optical-sizing: auto;
 	font-weight: 600;
 	font-style: bold;
}

.montserrat-paragraph{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 400;
  	font-style: normal;
	
}

.montserrat-paragraph-bold{
	font-family: "Montserrat", sans-serif;
	font-optical-sizing: auto;
  	font-weight: 800;

}
 
.roboto-title {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}

.BRC2-header-container{
	background-color: white;
	padding-top: 10px;
	padding-bottom: 10px;
	display: flex;
	flex-direction: row;
	z-index: 10;
}

.BRC2-logo-wrapper{
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BRC2-options-wrapper{
	display: flex;
	flex-direction: row;
	width: 50%;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.BRC-hamburger-wrapper{
	max-width: 50px;
	max-height: 50px;
	padding: 0;
}

.hamburger-menu{
	background-color: rgba(108, 100, 174, 0.8); /*#918AD8;*/
	margin: 0px;
	padding: 0px;
	text-align: center;
	height: 0px;
	list-style: none;
	width: 20%;
	max-width: 20%;
	table-layout: fixed;
	overflow: hidden;
	transition: height .4s ease;
	z-index: 10;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
	position: absolute;
	right: 78%;
	margin-top: 20px;
	padding-left: 2%;
}

.hamburger {
	height: 45px;
	display: -ms-grid;
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	justify-items: center;
	z-index: 3;
}

.hamburger div {
	background-color: rgb(108, 100, 174);
	position: relative;
	width: 40px;
	height: 5px;
	margin-top: 7px;
	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	border-radius: 10px;
}

#hamburger_toggle{
	display: none;
}

#hamburger_toggle:checked+.hamburger .hamburger-top {
	-webkit-transform: rotate(-45deg);
	transform: rotate(-45deg);
	margin-top: 22.5px;
}

#hamburger_toggle:checked+.hamburger .hamburger-middle {
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	margin-top: -5px;
}

#hamburger_toggle:checked+.hamburger .hamburger-bottom {
	-webkit-transform: scale(0);
	transform: scale(0);
}

#hamburger_toggle:checked ~ .hamburger-menu {
	max-height: 65%;
	height: 420px;
	width: 100%;
}

#hamburger_toggle:checked .main-bg-image-wrapper{
	background-color: #918AD8;
	z-index: 10;
}


.hamburger-menu ul{
	display: table-row;
}

.hamburger-menu ul li{
	list-style-type: none;
	text-align: left;
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
}

.hamburger-menu a{
	text-decoration: none;
	flex-grow: 1;
	color: white;
	font-family: "Lato", sans-serif;
 	font-weight: 400;
 	font-style: normal;
 	font-size: 30px;
}

.user-icon-username-wrapper{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-right: 3%;
	max-width: 9%;
}

.user-icon{	
	width: 30px;
	height: 30px;	
	max-width: 30px;
	max-height: 30px;
}

.user-icon-username{
	display: block;
}


.main-wrapper{
	padding: 0;
	margin: 0;

}


.main-bg-image{
	z-index: -10;
	display: block;
	position: absolute;
	margin-top: -150px;
}

.main-bg-image-text-container{
	position: relative;
	text-align: center;
	align-items: center;
	justify-content: center;
	z-index: 1;
	color: white;
	padding-top: 4%;
}

.main-quotation-wrapper{
	display: flex;
	flex-direction: column;
	justify-content: center;
	text-align: center;
	align-items: center;
}

.quotation-text{
	font-size: 125%;
	
}

.quotation-reference{
	letter-spacing: 0.2em;
	font-size: 80%;
}

.main-quote-text-wrapper{
	max-width: 40%;
	width: 40%;
}

.word-break{
	word-break: break-word;
  	overflow-wrap: break-word;
}

.BRC2-closebutton-wrapper{
	display: flex;
	flex-direction: column;
	
	max-width: 40px;
	max-height: 40px;
	
	width: 40px;
	height: 40px;
	
	align-items: center;
	justify-content: center;
	
	box-sizing: border-box;
  	padding: 0;     
  	

}

.BRC2-closebutton-wrapper div{
	background-color: white;
	/* X FORM */
	/*width: 30px;*/
	height: 2px;

	-webkit-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}

.close-button-hide{
	display: none;
	width: 100%;
	height: 100%;
}

.closeButton-top{
	transform: translate(0%, 0%) rotate(-45deg);
	/* CROSS FORM */
	width: 16px;
	margin-right: 5px;
	/* ========== */
}

.BRC2-buttons{
	background-color: white;
	color: black;
	padding: 13px 25px 13px 25px;
	border: none;
	border-radius: 20px;

}

.closeButton-bottom{
	 transform: translate(0%, 0%) rotate(45deg);
	 /* CROSS FORM */
	 width: 35px;
	 /* ========== */
}

#BRC2_closebutton_wrapper:hover .closeButton-top{
	transform: translate(0%, 0%) rotate(135deg);
	background-color: #918AD8;
}

#BRC2_closebutton_wrapper:hover .closeButton-bottom{
	transform: translate(0%, 0%) rotate(225deg);
	background-color: #918AD8;
}

#BRC2_closebutton_wrapper:hover{
	background-color: white;
	border-radius: 50%;
	border: none;
	cursor: pointer;
}

.main-bible-read-button-wrapper{
	padding-top: 2%;
	margin-bottom: 3%;
	text-align: center;
}

.main-boxes-wrapper{
	display: flex;
	flex-direction: row;
}

.main-boxes-wrapper div{
	width: 25vw;
	aspect-ratio: 1 / 1;
}

.main-box-meet{
	background-color: #F1CD69;
}

.main-box-about{
	background-color: #7BBE6E;
}

.main-box-suggestion{
	background-color: #918AD8;
}

.main-box-bible-about{
	background-color: #CA4B97;
}
/*
main-yellow-color: #F1CD69
	main-green-color: #7BBE6E
	main-blue-color: #918AD8
	main-violet-color: #CA4B97
*/



