@charset "UTF-8";

html{
	
	font-family: Lato;
	
}

body{
	
	margin-top: 1px;
	background-color: #8C2F64;
	padding-left: 8%;
	padding-right: 8%;
	
}

.main-body{
	
	
	background-color: white;
	padding-top: 0px;
	
	
	height: 90%;
	
	padding-left:10px;
	padding-right:10px;
	
}

.header-area{
	
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
	padding-bottom: 10px;
	
	height: auto;
}

.header-area a{
	
	float: right;
	
}

.logo-div{
	
	float: left;
}

.options-div{
	
	float: right;
	padding-right: 2%;
}

.options-table{
	
	width: 100%;
	border-collapse:collapse;
	/*border:1px solid #FF0000;*/
}

.options-list a{
	
	font-weight: bold;
	padding: 6px;
	margin: 2px;
	text-decoration: none;
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #8C2F64;
	background-color: #8C2F64;
	
}

.options-list a:hover{
	
	/*box-shadow: inset 0px 0px 0px 2px #6764A7;*/
	border: 1px solid #6764A7;
	background-color: #6764A7;
	
	
	
}

.options-table td{
	
	padding-top: 15px;
	
}

#bookSelection{
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #6FB350;
	background-color: #6FB350;
	width: 65%;
	height: 30px;
	font-weight: bold;
	margin: 0.5%;
}

#chapterSelection{
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #6FB350;
	background-color: #6FB350;
	width: 30%;
	height: 30px;
	font-weight: bold;
	margin: 0.5%;
}

#logout_button{
	background-color: #6765A9;
	border: 1px solid #6765A9;
}

.upper-separator{
	
	background-color: #AC312B;
	margin-top: 2px;
	margin-bottom: 2px;
	text-align: center;
	color: white;
	margin-left: 1%;
	margin-right: 1%;
	height: 35px;
	
}

.lower-separator{
	
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
	
}



.bible-area{
	column-gap: 25px;
	column-count:2;
	padding: 2%;
	
	
}

.bible-area p{
	width: 100%;
	
}

.comments-area{
	padding-bottom: 3%;
	padding-right: 3%;
}

.comments-area table{
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;

}

.comments-area td{
	
	padding-top: 8px;
	padding-bottom: 8px;
	
	
}

.comments-rowSubject{
	color: white;
	font-weight: bold;
	max-height: 35px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.comments-rowSubject h3{
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	background-color: #6765A9;
}

.comments-rowAuthor td{
	font-style: oblique;
}



.index-logo{	
	width: 50%;
	height: 50%;	
}

.footer-area{
	
	background-color: #8C2F64;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	font-weight: bold;
	font-style: oblique;
	color: white;
}

.copyright-image{
	
	
	height: 7%;
	width: 7%;
	padding-left: 15px;
	
}