@charset "UTF-8";



.options-table{
	width: 100%;
	border-collapse:collapse;
}

.options-table td{
	padding-top: 15px;
}

.upper-separator{

	background-color: #AC312B;
	margin-top: 2px;
	margin-bottom: 2px;
	padding-top: 2px;
	padding-bottom: 2px;
	text-align: center;
	color: white;
	margin-left: 1%;
	margin-right: 1%;
	height: auto;
	width: auto;
	
}

.main-welcome-text{
	height: auto;
	padding-bottom: 10px;
}

.main-welcome-quotation{
	height: auto;
	font-style: italic;
	text-align: center;	
}

.lower-separator{
	padding-top: 2%;
	padding-bottom: 2%;
	text-align: center;
}

.bible-area{
	column-gap: 25px;
	column-count:2;
	padding: 2%;
	margin-top: 0;
}

.bible-area p{
	width: 100%;
	break-inside: avoid-column;
}

.comments-area{
	padding-bottom: 3%;
	padding-right: 3%;
}

.comments-area table{
	width: 100%;
	margin-left: 1%;
	margin-right: 1%;

}

.comments-area td{
	padding-top: 2px;
	padding-bottom: 2px;
}

.comments-rowSubject{
	color: white;
	font-weight: bold;
	max-height: 35px;
	margin-top: 0px;
	margin-bottom: 0px;	
}

.comments-rowSubject h3{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 15px;
	background-color: #6765A9;
}

.comments-rowAuthor td{
	font-style: oblique;
}

.chapter-selector-boxes-wrapper{
	display: flex;
	justify-content: center;
}

.chapter-selector-boxes{
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 10px;
	flex-wrap: wrap;
	padding-bottom: 20px;
	padding-top: 20px;
	max-width: 30%;
}

#bible_display{
	display: flex;
	flex-direction: column;
	justify-content: justify;
}

.highlight-chapter-box{
	background-color:#f5c211;
	border: 1px solid #f5c211;
	color: white;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2px;
}

.chapter-selector-div{
	
	border: 1px solid #8C2F64;
	background-color: #8C2F64;
	color: white;
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 2px;
}

.chapter-selector-boxes div:hover{
	background-color: #f5c211;
	color: black;
	border-color: #f5c211;
	user-select: none;
}


@media screen and (max-width: 800px){

	.chapter-selector-boxes{
		grid-template-columns: repeat(10, 6%);
		padding-bottom: 15px;
		justify-content: center;
		padding-right: 0%;
		
	}
}

/*
.menu1 a:first-child {
	margin-top: 5px;
}

.menu1 a:last-child {
	margin-bottom: 5px;
}
*/


