@charset "UTF-8";

html{
	
	font-family: Lato;
	
}

body{
	
	margin-top: 1px;
	background-color: #8C2F64;
	padding-left: 10%;
	padding-right: 10%;
	flex-direction: column;
}

.main-body{
	
	
	background-color: white;
	padding-top: 0px;
	
	
	height: 90%;
	
	padding-left:10px;
	padding-right:10px;
	
}

.header-area{
	
	margin-left: auto;
	margin-right: auto;
	/*overflow:auto;*/
	padding-bottom: 0px;
	
	height: 95px;
}

.header-area a{
	
	float: right;
	
}

.logo-div{
	
	float: left;
}

.options-div{
	
	float: right;
	padding-right: 10%;
}

.options-table{
	
	width: 100%;
	border-collapse:collapse;
	/*border:1px solid #FF0000;*/
}

.options-list a{
	

	padding: 4px;
	text-decoration: none;
	text-align: center;
	color: black;
	
}

.options-list a:hover{
	
	box-shadow: inset 0px 0px 0px 2px #8C2F64;
	border-radius: 20px;
	
	
}

.options-table td{
	
	padding-top: 15px;
	
}

.footer-area{
	
	background-color: #8C2F64;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	
	color: white;
}

.bible-area{
	
	column-count:2;
	
}

.index-logo{
	
	width: 350px;
	height: 120px;
	
}

.copyright-image{
	
	
	height: 34px;
	width: 82px;
	
}