@charset "UTF-8";

html{
	font-family: Lato;
}

body{
	
	margin-top: 1px;
	background-color: #8C2F64;
	padding-left: 8%;
	padding-right: 8%;
	
}

.main-wrapper{
	background-color: white;
	padding-top: 0px;
	margin-top: 0px;
	height: 90%;
	padding-left:10px;
	padding-right:10px;
}

.header-area{
	
	margin-left: auto;
	margin-right: auto;
	overflow:auto;
	padding-bottom: 30px;
	height: auto;
}

.header-area a{
	
	float: right;
	
}

.logo-div{	
	float: left;
}

.index-logo{	
	width: 50%;
	height: 50%;	
}

.footer-area{
	
	background-color: #8C2F64;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:15px;
	font-weight: bold;
	font-style: oblique;
	color: white;
}

.copyright-image{
	height: 10%;
	width: 10%;
	padding-left: 15px;
}

@media screen and (max-width: 800px){
	.copyright-image{
		height: 30%;
		width: 30%;
		padding-left: 15px;
	}
}

#bookSelection{
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #6FB350;
	background-color: #6FB350;
	width: 65%;
	height: 30px;
	font-weight: bold;
	margin: 0.5%;
}

#chapterSelection{
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #6FB350;
	background-color: #6FB350;
	width: 30%;
	height: 30px;
	font-weight: bold;
	margin: 0.5%;
}

.options-div{
	
	float: right;
	padding-right: 2%;
}

.options-list a{
	
	font-weight: bold;
	padding: 6px;
	margin: 2px;
	text-decoration: none;
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #8C2F64;
	background-color: #8C2F64;
}

.options-list a:hover{
	border: 1px solid #f5c211;;
	background-color: #f5c211;
}

#logout_button{
	background-color: #6765A9;
	border: 1px solid #6765A9;
}

#topBtn{
	display: none;
	position: fixed;
	bottom: 20px;
	right: 30px;
	z-index: 99;
	font-size: 120%;
	border: none;
	outline: none;
	background-color: #6FB350;
	color: white;
	cursor: pointer;
	border-radius: 50%;
	width: 3em;
	height: 3em;
	text-align: center;

}

#topBtn:hover{
	background-color: #6765A9;
}

