@charset "UTF-8";

.options-div{
	padding-top: 1%;
}

.myComments-subject-row{
	background-color: #6765A9;
	text-align: center;
	color: white;
}

.myComments-subject-row td{
	border: none;
}

.myComments-subject-row th{
	padding-left: 9%;
}

.myComments-comment-row{
	display: none;

}

.comments-area {
	max-width: 100%;
 	width: 100%;
	overflow-x: auto;
}

.myComments-expand-comment-button{
	border: none;
	background-color: white;
	border-radius: 10px;
	height: 20px;
	width: 20px;
	font-weight: bold;
}

.myComments-expand-comment-button:hover{
	background-color: #f5c211;
}

.myComments-td-10percent{
	max-width: 10%;
	overflow-x: auto;
}

.myComments-comments-table{
	padding-top: 10px;
	padding-bottom: 20px;
	max-width: 100%;
	width: 100%;
	table-layout: fixed;
}

.myComments-comments-table td{
	padding: 2px;
	text-align: center;
	width: auto;
	border: none;
	

}

.myComments-radio-button{
	border: 0px;
	width: 10%;
	height: 150%;
}

.myComments-p-align-text-justify{
	text-align: justify;
	padding-left: 5px;
	padding-right: 5px;
	overflow-x: auto;
	word-break: break-word;
  	overflow-wrap: break-word;
}

.myComments-published{
	font-weight: bold;
	color: #6765A9;
	font-size: 125%;
}

.myComments-not-published{
	font-weight: bold;
	color: #8C2F64;

}

.myComments-is-published{
	font-weight: bold;
	color: #6FB350;
}

.myComments-no-comments-found{
	padding-top: 2%;
	padding-bottom: 50px;
	text-align: center;
}

.myComments-no-comments-found h1{
	font-weight: bold;
	color: #AC312B;
	padding: 20px;
}

.comment-edit-div{
	width:100%;
	padding-bottom: 20px;
	padding-top: 20px;
}

#commentEditingArea{
	width: 99%;
	height: 150px;
}

.myComments-subject-and-text-edit{
	margin-top: 1%;
	margin-bottom: 0.5%;
	max-width: 100%;
	width: auto;
	font-size: 100%;
	background-color: #F6EC6D;
	height: 195px;
	padding-top: 10px;
	padding-left: 10px;
	color: #6865A7;
	border: 2px solid #F6EC6D;
	border-radius: 15px;
	font-weight: bold;
}

#commentSubjectEdit{
	background-color: #6FB350;
	border: 2px solid #6FB350;
	border-radius: 15px;
	margin-bottom: 5px;
	margin-left: 2%;
}

.myComments-publish-and-submit-area{
	width: auto;
	max-width: 80%;
	height: 50px;
	background-color: #6FB350;
	border: 2px solid #6FB350;
	border-radius: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}


.myComments-publish-and-submit-area button{
	font-weight: bold;
	padding: 6px;
	margin: 2px;
	margin-left: 2%;
	text-decoration: none;
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #8C2F64;
	background-color: #8C2F64;
}

.myComments-publish-checkbox{
	margin-top: 10px;
	width: 10%;
	height: 2em;
}

.myComments-publish-and-submit-area button:hover{
	border: 1px solid #f5c211;;
	background-color: #f5c211;
}

.myComments-delete-area{
	font-weight: bold;
	padding-top: 6px;
	margin: 2px;
	max-width: 40%;
	text-decoration: none;
	text-align: left;
	color: white;
}

.myComments-delete-area button:hover{
	border: 1px solid #f5c211;
	background-color: #f5c211;
}

.myComments-delete-area button{
	font-weight: bold;
	padding: 6px;
	margin: 2px;
	margin-left: 2%;
	text-decoration: none;
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #8C2F64;
	background-color: #8C2F64;
}

.footer-adjust{
	margin-top: 20%;
	margin-bottom: 10px;
}

@media screen and (max-width: 800px){

	.myComments-radio-button{
		border: 0px;
    width: 100%;
    height: 2em;
	}
}

.myComments-share-comment-button{
	margin-left: 6px;
}

.myComments-share-comment-button:hover{
	background-color: #f5c211;
}

.comment-edit-subject-grid{
	background-color: #6865A7;
	border: none;
	color: white;
	width: 99%;
	text-align: center;
}

.comment-edit-subject-grid:hover{
	background-color: white;
	color: black;
}










