
/*
body{
	
	margin-top: 1px;
	background-color: #8C2F64;
	padding-left: 10%;
	padding-right: 10%;
	
}*/

.main-wrapper{
	
	background-color: white;
	padding-top: 0px;
	
	
	height: 90%;
	
	padding-left:0.3%;
	padding-right:0.3%;
	padding-bottom: 20px;
}

.options-div-comment{
	
	float: right;
	margin-top: 1%;
	
	
}

.selection-comments{
	width: 70%;
	
}

.input-comments{
	
	width: 100%;
}

.comments-title-submit{
	
	margin-top: 1%;
	margin-bottom: 2%;

	max-width: 95%;
	width: auto;
	font-size: 100%;
	background-color: #F6EC6D;
	height: 50px;
	padding-top: 10px;
	padding-left: 15px;
	color: #6865A7;
	border: 2px solid #F6EC6D;
	border-radius: 15px;
	font-weight: bold;
}

.comments-title-submit input{
	width: 70%;
	height: 40px;
	font-size: 18px;
	border: none;
	border-radius: 15px;
	padding-left: 1%;
}

.comments-title-submit label{
	padding-right: 1%;
}

.comments-make-private{
	
	margin-bottom: 2%;
	font-size: 100%;
	background-color: #6865A8;
	height: 50px;

	padding-left: 15px;
	color: white;
	border: 2px solid #6865A8;
	border-radius: 15px;
	font-weight: bold;
	width: 90%;
}

#wrapper{
	width: 100%;
}

.comments-label{
	padding-top: 15px;
	float: left;
}

.comments-checkbox{
	
	width: 15%;
	height: 60%;
	padding-top: 10px;
	float: right;
	
}



#comments_checkbox{
	

	width: 25px;
	height: 25px;

	
}

#comment_textarea{
	
	padding-left: 5px;
	padding-right: 5px;
	min-width: 98%;
	max-width: 99%;
	width: auto;
	height: 400px;
	font-size: 16px;
	resize: none;
}

.comment-logo-div{
	
	float: left;
}

.comment-logo{
	width: 50%;
	height: 50%;

}

.comment-insert{
	font-weight: bold;
	padding: 6px;
	margin: 2px;
	text-decoration: none;
	text-align: center;
	color: white;
	border-radius: 10px;
	border: 1px solid #8C2F64;
	background-color: #8C2F64;
}

.comment-submit{
	margin-top: 1%;
	margin-left: 45%;
}

#submit_button:disabled{
	background-color: grey;
	cursor: not-allowed;
	border: 1px solid grey;
}

.comment-submit button:hover{
	border: 1px solid #6FB350;
	background-color: #6FB350;
}

.header-area-submit-comment{
	margin-bottom: 2%;
}